img,
video {
  max-width: 100%;
  height: auto;
}

.flottaison-image{
  width: 100%;
  height: auto;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    padding-top: var(--space-m);
    padding-bottom: var(--space-sm);
}

.decorative-img {
  margin: 0;
  width: 100%;
  height: auto;
  padding-top: var(--space-s);
}