.film-poster {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.accordion-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.accordion-button:hover {
    background-color: #ddd;
}

.film-info {
    display: flex;
    align-items: center;
}

.film-info p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.accordion-content {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    text-align: center;
}

.film-large {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.film-description {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}