.accordion--list {
    padding-top: var(--space-l);
    padding-right: var(--space-s);
    padding-bottom: var(--space-l);
    padding-left: var(--space-sm);
    background-color: black;
}

.accordion__item {
    margin-bottom: 20px;
    margin-right: 20px;
}

.film-poster {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.accordion-button {
    background-color: var(--accordion-pink);
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: var(--fs-md);
    font-family: var(--font-subtitle);
    letter-spacing: 0.075rem;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.accordion-button[aria-expanded="true"] {
    background-color: var(--accordion-pink);
}

.accordion-button:hover {
    background-color: var(--accordion-pink);
}

.film-info {
    display: flex;
    align-items: center;
}

.film-info p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.accordion-content {
    margin-top: 10px;
    display: none;
    background-color: #f9f9f9;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-top: none;
    text-align: center;
    border-radius: 8px
}

.film-large {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.film-description {
    font-size: var(--fs-md);
    font-family: var(--font-body);
    color: #333;
    margin: 5px 0 10px 0;

}