.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marron);
    padding: 1.5rem 2rem 0.5rem 2rem;
    position: relative;
}

.header--logo {
    width: 120px;
    height: auto;
    object-fit: contain;
    margin-left: 0;
}

.header--language {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
}

.header--language p {
    font-family: var(--font-subtitle);
    font-size: var(--fs-xl);
    color: white;
    margin: 0;
}