.article--title {
    margin-top: var(--space-m);
    margin-bottom: var(--space-xxs);
    padding-left: var(--space-xs);
    font-family: var(--font-subtitle);
    font-size: var(--fs-xl);
    color: var(--body-color);
    line-height: 1.04;
}

.article--chapo {
    margin-top: 0;
    margin-bottom: var(--space-xxs);
    padding-left: var(--space-xs);
    font-family: var(--font-body);
    font-size: var(--fs-lg);
    color: var(--body-color);
    line-height: 1.2;
}

.article--info {
    margin-top: 0;
    margin-bottom: var(--space-m);
    padding-left: var(--space-xs);
    font-family: var(--font-body);
    font-size: var(--fs-s);
    color: var(--main-pink);
    line-height: 1.2;
}

.article--subtitle{
    font-size: var(--fs-ml);
    font-weight: 700;
}

.article--section {
    padding-left: var(--space-s);
    padding-right: var(--space-xs);
}

.article--image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    padding-top: var(--space-xs);
}

.article--end {
    padding-bottom: var(--space-m);
}