.section--title {
    margin: 0;
    padding-top: var(--space-s);
    padding-left: var(--space-s);
    padding-right: var(--space-xs);
    font-family: var(--font-subtitle);
    font-size: var(--fs-xl);
    max-width: 100%;
}

.section--subtitle {
    margin: 0;
    padding-top: var(--space-s);
    padding-left: var(--space-s);
    padding-right: var(--space-xs);
    font-family: var(--font-subtitle);
    font-size: var(--fs-lg);
    max-width: 100%;
}

.section--end {
    margin: 0;
    border-bottom: 1px solid #000000;
    padding-bottom: var(--space-xxs);
}

.section--beginning {
    margin-top: var(--space-s);
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 1px solid #000000;
    padding-top: var(--space-xxs); 
}